{% extends 'base/base.html' %}
{% block content %}
{% load static %}

{% include 'base/sidebar.html' %}

<div class="container mt-3" style="margin-left:300px;">
    <div class="navbar navbar-expand-lg bg-body-tertiary">
        <h5 class="ms-auto me-5 text-muted ">home</h5>
        <a href="" class="text-decoration-none text-danger fw-bold"><i class="fa-solid fa-power-off me-1"></i>Logout</a>
    </div>

    <div class="mt-5 p-5" style="background:#edf2ef;">
        <h1 class="display-4 fw-bold">Manage Staff</h1>
    </div>

    <div class="mt-5">
        <a href="{% url 'add_staff_attendance' %}" class="text-decoration-none fw-bold text-light fs-5 "
           style="background:linear-gradient(to right,#a7afc7,#757F9A); padding:15px 40px;">
            <i class="fa-regular fa-plus"></i>Add New Staff Attendance</a>
    </div>

    <div class="card mt-5" style="background:#fdf0d5;">
        <div class="card-header d-flex justify-content-between">
            <h5 style="color:#08044a;">Staff Attendance</h5>
            <form action="" method="GET" class="d-flex" role="search" style="width:400px;">
                <input class="form-control me-2" type="search" name="q" value="{{request.GET.q}}"
                       placeholder="Search By Name, Last & Father Name" aria-label="Search"/>

                <button class="btn btn-outline-primary me-1" type="submit"><i class="fa-solid fa-magnifying-glass"></i>
                </button>

                <a href="{% url 'staff_attendance' %}" class="btn btn-outline-danger"> <i class="fa-solid fa-x"></i></a>

            </form>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered  table-hover text-center" style="min-width:1000px;">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Staff - Full Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Remark</th>
                    <th scope="col">Action</th>

                </tr>
                </thead>
                <tbody>
                {% for staff in staffs %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{ staff.staff}}</td>
                    <td>{{ staff.date }}</td>

                    <td>
                        {% if staff.status == "Present" %}
                                <span class="badge bg-success">Present</span>
                        {% elif staff.status == "Absent" %}
                                <span class="badge bg-danger">Absent</span>
                        {% else %}
                                <span class="badge bg-warning">Leave</span>
                        {% endif %}
                    </td>


                    <td>{{ staff.remark }}</td>
                    <td>
                    <a href="{% url 'edit_staff_attendance' staff.pk %}" class="btn btn-success"><i
                                class="fa-solid fa-pencil"></i>Edit</a>
                        <a href="{% url 'delete_staff_attendance' staff.pk %}" class="btn btn-danger"><i class="fa-solid fa-trash"></i>Delete</a>
                    </td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>


{% endblock %}